<!DOCTYPE html>

<head>
  <title>About US</title>
  <link rel="stylesheet" href="{{url_for('static', filename='about_me.css')}}">
</head>

<body>

  <!-- navbar -->

  <nav class="navbar">
    <h1 class="logo">F45</h1>
    <!-- <img src="logo.png" alt="" class="logo-btn"> -->
    <ul class="navlinks">
        <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('index') }}#my-section">Vision</a></li>
        <li><a href="{{ url_for('index') }}#motivation">Motivation</a></li>
        <li><a href="{{ url_for('index') }}#facilities">Facilities</a></li>
        <li><a href="{{ url_for('index') }}#Reviews">Reviews</a></li>
            <li><a href="{{ url_for('programs') }}#gotochart">Analytics</a></li>
        <li><a href="{{ url_for('About_me') }}">About</a></li>
        <li class="ctn"><a href="{{ url_for('programs') }}">Programs</a></li>
        <!-- <li class="ctn"><a href="programs.html">Programs</a></li> -->
    </ul>
    <img src="{{url_for('static', filename='menu-button.png')}}" alt="" class="menu-btn">
</nav>

    <div class="wrapper">
      <h1>About Us</h1>
      <div class="team">
        <div class="team_member">
          <div class="team_img">
            <img src="{{url_for('static', filename='Surya.jpg')}}" alt="Team_image">
          </div>
          <h3>Surya Teja Pidakala</h3>
          <div> <a href="https://www.linkedin.com/in/suryatejapidakala" target="_blank"><img src="{{url_for('static', filename='LinkedIn.png')}}" alt="LinkedIn Icon"></a>
          </div>
          <p>I am a Masters student at University of South Florida in Business Analytics and Information Systems. I have
            1.5 years of experience as a Quality Analyst back in India. We have designed a web-page for a fitness center
            named F45 and my contribution towards the project is styling the webpage, choosing appropriate colors, font
            sizes, etc </p>
          
        </div>
  
  
        <div class="team_member">
          <div class="team_img">
            <img src="{{url_for('static', filename='Teja.jpg')}}" alt="Team_image">
          </div>
          <h3>Sai Teja Balusu</h3>
          <div> <a href="https://www.linkedin.com/in/srisaitejabalusu/" target="_blank"><img src="{{url_for('static', filename='LinkedIn.png')}}" alt="LinkedIn Icon"></a>
          </div>
          <p>I am a Masters student at University of South Florida in Business Analytics and Information Systems. I have
            worked as IT engineer Associate in Smart katalyst consulting private limited. For this project,I have worked
            on About us page styling and structure.</p>
            
        </div>
  
  
        <div class="team_member">
          <div class="team_img">
            <img src="{{url_for('static', filename='Nikhil.jpg')}}" alt="Team_image">
          </div>
          <h3>Nikhil Namani</h3>
          <div> <a href="https://www.linkedin.com/in/nikhil-namani-942146169/" target="_blank"><img src="{{url_for('static', filename='LinkedIn.png')}}" alt="LinkedIn Icon"></a>
          </div>
          <p>I am a Masters student at University of South Florida in Business Analytics and Information Systems. I have
            worked as a Software Engineer for 2 years in Oxane Patners. For this project, I have designed the structure
            and layout for the homepage.</p>
            
        </div>
  
        <div class="team">
          <div class="team_member">
            <div class="team_img">
              <img src="{{url_for('static', filename='Lohitha.jpg')}}" alt="Team_image">
            </div>
            <h3>Lohitha Anumolu</h3>
            <div> <a href="https://www.linkedin.com/in/lohitha-anumolu-227b41bb/" target="_blank"><img src="{{url_for('static', filename='LinkedIn.png')}}" alt="LinkedIn Icon"></a>
            </div>
            <p>I am a Masters student at University of South Florida in Business Analytics and Information Systems. Over
              the last four years, I have worked as a Software Developer at Accenture and as an Operations Analyst at
              Amazon. For this project,I have worked on About us page styling and structure.</p>
          </div>
  
          <div class="team">
            <div class="team_member">
              <div class="team_img">
                <img src="{{url_for('static', filename='Rahul.jpg')}}" alt="Team_image">
              </div>
              <h3>Rahul Vemula</h3>
              <div> <a href="https://www.linkedin.com/in/rahul-vemula-in/" target="_blank"><img src="{{url_for('static', filename='LinkedIn.png')}}" alt="LinkedIn Icon"></a>
              </div>
              <p>I am a Masters student at University of South Florida in Business Analytics and Information Systems. I
                have worked as an operation Analyst in Optival Health Solutions Pvt Ltd in India. For this project, I
                worked on designing and Content.</p>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  <script>
     const menuBtn = document.querySelector('.menu-btn');
  const navLinks = document.querySelector('.navlinks'); 
  const headerContent = document.querySelector('.header-content');

  const navBar = document.querySelector('.navbar');

  menuBtn.addEventListener("click",()=>{
    navLinks.classList.toggle('mobile-menu')
    headerContent.classList.toggle('header-content-mobile-view');
    navBar.classList.toggle('navBar-mobile-view')
  })

  </script>
</body>

</html>