<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='background.css')}}">
</head>
<body>

    <!-- navbar -->

    <header class="navbar">
      <!-- Add your navbar content here, such as logo and navigation links -->
    </header>
    
    <main class="content">
      <section class="section1">
        <!-- Add your section 1 content here -->
      </section>
    
      <section class="section2">
        <!-- Add your section 2 content here -->
      </section>
    
      <section class="section3">
        <!-- Add your section 3 content here -->
      </section>
    </main>


    
</body>
</html>